* {
    text-decoration: none;
}

.header {
    background: transparent;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;

}



.logo_container {
    display: flex;
    font-size: 2rem;
    padding-left: 40px;
    margin-top: 0.4rem;
     
}


.logo_container strong{
    color: white;

}


.header_direita {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: .8rem;
    margin-top: 0.4rem;
    padding-right: 70px;
    text-decoration: none;
    color: white;
}


.header_direita span{
    color: rgb(170, 165, 165);
    font-size: 22px;
    background-color: rgb(12, 12, 12);
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    
}

.header_direita span:hover{
    color: rgb(247, 230, 234);
    background-color: rgb(187, 7, 46);
    padding: 5px 15px;
    border-radius: 20px;

}


.login,
.contato,
.compras,
.minhascompras {
    margin-left: 10px;
    margin-right: 20px;
    color: white;
}


