* {
    text-decoration: none;
}

.header {
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;

}


.logo_container {
    display: flex;
    font-size: 2rem;
    padding-left: 40px;
    margin-top: 0.4rem;
     
}


.logo_container strong{
    color: white;

}


.header_direita {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: .8rem;
    margin-top: 0.4rem;
    padding-right: 70px;
    text-decoration: none;
    color: white;
}


.header_direita span{
    color: white;
}


.login,
.contato,
.compras,
.minhascompras {
    margin-left: 10px;
    margin-right: 20px;
    color: white;
}


