.app{ 
    padding: 10px;
  }
  
  form{
    width: 50%;
  }
  
  .form-input {
    margin: 10px 0px;
  }
  
  .form-input input, .form-input textarea {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid lightgray;
    padding: 0.35rem 0.75rem;
    outline: none;
  
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 0.3rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    outline: none;
    border: none;
  
  }
  
  .blog_post_display {
    border: 1px solid lightblue;
    margin: 5px;
    border-radius: 4px;
    padding: 10px;
  }
  